.user {
   width: 100%;
   height: 100%;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   position: relative;
}

.loading {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   svg {
      width: 30px;
      height: 30px;
   }
}
