.player {
   width: 100%;
   height: 50px;
   background-color: var(--bg);
   padding: 0 10px;
   border-radius: 10px;
   display: none;
   justify-content: space-between;
   align-items: center;
   gap: 15px;
}

.play {
   width: 27px;
   height: 27px;
   border-radius: 50%;
   cursor: pointer;
   background-color: #b5b5b5;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;

   svg {
      width: 45%;
      height: 45%;

      path {
         fill: var(--bg);
      }
   }

   @media (hover: hover) {
      &:hover {
         background-color: #ffffff;
      }
   }

   @media (hover: none) {
      &:active {
         background-color: #ffffff;
      }
   }
}

.playBtn {
   margin-left: 4px;
}

.rewind {
   width: 27px;
   height: 27px;
   cursor: pointer;
   flex-shrink: 0;

   svg {
      width: 100%;
      height: 100%;

      path {
         fill: #b5b5b5;
      }
   }

   @media (hover: hover) {
      &:hover {
         svg {
            path {
               fill: #ffffff;
            }
         }
      }
   }

   @media (hover: none) {
      &:active {
         svg {
            path {
               fill: #ffffff;
            }
         }
      }
   }
}

.info {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;

   p:nth-child(1) {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
      color: var(--title);
      margin-bottom: -1px;
   }

   p:nth-child(2){
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
   }
}

@media (max-width: 1300px) {
   .player {
      display: flex;
   }
}

@media (max-width: 1000px) {
   .player{
      border-radius: 0;
      background-color: var(--bg-block);
      border-bottom: 1px solid #ffffff13;
   }
}
