@font-face {
   font-family: 'Circle';
   src: url('../assets/fonts/circle/circe.ttf');
}

@font-face {
   font-family: 'Circle';
   src: url('../assets/fonts/circle/circe-bold.ttf');
   font-weight: 700;
}
