:root {
   --size: 18px;
   --font: Circle;
   --title: #ffffff;
   --text: #c0c0c0;

   --bg: #121212;
   --bg-block: #0c0c0c;
   --bg-input: #1c1c1c;
   --bg-blur: 5px;
   --bg-opacity: #000000dc;
   --shadow: 0 8px 24px #00000080;

   --nav-link: #545454;
   --nav-link-active: #ffffff;

   --primary-color: #ffb937;
   --primary-color-hover: #ffa600;
   --default-btn: #272727;
   --default-btn-hover: #343434;
   --danger: #ff3333;
   --svg: #919191;

   --border: 15px;
   --padding: 15px;
}
